useDynLib(winsorize)
S3method(winsorize,data.frame)
S3method(winsorize,default)
S3method(winsorize,matrix)
export(corHuber)
export(robStandardize)
export(standardize)
export(winsorize)
importFrom(Rcpp, evalCpp)
